<ion-view view-title="推荐">
    <ion-content>
        <ion-slide-box does-continue="true" slide-interval=2000>
            <ion-slide>
                <img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000002MFArM0QR01e.jpg?max_age=2592000" style="width:100%">
            </ion-slide>

            <ion-slide>
              <img src="http://y.gtimg.cn/music/photo_new/T003R720x288M0000009DE8x2fTDuA.jpg?max_age=2592000" style="width:100%">
            </ion-slide>
            <ion-slide>
                <img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000001k51P90qEY57.jpg?max_age=2592000" style="width:100%;">
            </ion-slide>
            <ion-slide>
                <img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000003Ckh8U0EKoqq.jpg?max_age=2592000" style="width:100%">
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <ion-item>
                <h3 class="title">电台</h3>
                <div class="row">
                    <div class="col">
                        <img src="http://y.gtimg.cn/music/photo/radio/track_radio_199_13_1.jpg?max_age=2592000" style="width:100%" >
                        <p>热歌</p>
                    </div>
                    <div class="col">
                        <img src="http://y.gtimg.cn/music/photo/radio/track_radio_307_13_1.jpg?max_age=2592000" style="width:100%">
                    <p>一人一首招牌歌</p>
                    </div>
                </div>

            </ion-item>
            <ion-item>
                <h3 class="title">热门歌单</h3>
                <div class="row">
                    <div class="col">
                        <img src="http://p.qpic.cn/music_cover/UuXq5S0NJhiaNAaXeTgXzL9KE0ZzcBpEQZcdM4SgUuedeibQSm33Gn7w/300?n=1&max_age=2592000" style="width:100%" >
                        <p>没钱请伴奏，我就用嘴...</p>
                    </div>
                    <div class="col">
                        <img src="http://p.qpic.cn/music_cover/PiajxSqBRaELMiaFiadPqlaJ2aKqqDmAcvPCUgJPMZMxmyPUaWgVLTfzg/300?n=1&max_age=2592000" style="width:100%">
                        <p>感动90后的动漫金曲</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="http://p.qpic.cn/music_cover/jXFicBvicUcfIWSoCNT1OrbFpUgkMoxCVLaPNBzH2BRAy5QL394DA6icg/300?n=1&max_age=2592000" style="width:100%" >
                        <p>放慢步调，听一曲温暖...</p>
                    </div>
                    <div class="col">
                        <img src="http://p.qpic.cn/music_cover/fnBKJkkMMr5DoiadmlXsCV2ibAdDxda2gU3uJPk7EWM9fMibGnUMQMqjQ/300?n=1&max_age=2592000" style="width:100%">
                        <p>浩室控福利</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="http://y.gtimg.cn/music/photo_new/T005R600x600M000003EqVFT2a7qXe.jpg?n=1&max_age=2592000" style="width:100%" >
                        <p>世界上最伟大的吉他曲</p>
                    </div>
                    <div class="col">
                        <img src="http://p.qpic.cn/music_cover/Q4m3mDoV7iawbriaZZkbj3IlW13qzIV2p2L4V2etDBFDgYqsEia7iaiaWPA/300?n=1&max_age=2592000" style="width:100%">
                        <p>扫盲辅导，独立老清新</p>
                    </div>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

